h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: #212121;
  background: #e5e5e5;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container, .section, .header, .hero, .footer {
  min-width: 320px;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .hide-on-mob {
    display: none;
  }
}

.footer__container, .header__container, .header-contact__link, .modal-overlay, .agreement, .agreement__label, .list, .nav, .mob-social, .mob-menu__container {
  display: flex;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.header__container, .header-contact__link, .modal-overlay, .agreement, .agreement__label {
  align-items: center;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list_spaced {
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .section_full-bottom {
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section_no-bottom {
    padding-bottom: 0;
  }
}

.section_gray {
  background-color: #f5f4fa;
}

.std-title {
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.172;
  text-align: center;
}

@media (min-width: 1200px) {
  .std-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.highlight-link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.highlight-link:hover, .highlight-link:focus {
  color: #2196f3;
}

.button,
.secondary-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.875em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button {
  line-height: 1.625em;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button,
.secondary-button:hover,
.secondary-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button:hover,
.button:focus,
.secondary-button {
  color: #212121;
  background-color: #f5f4fa;
}

.secondary-button:hover,
.secondary-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #212121;
}

.logo_highlight {
  color: #2196f3;
}

.header {
  background-color: #ffffff;
  height: 60px;
  border: 1px #ececec;
  border-style: none none solid none;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  position: relative;
  height: 100%;
}

.nav {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media (max-width: 767px) {
  body.is-open {
    height: 796px;
    overflow-y: hidden;
  }
}

@media (max-width: 767px) {
  .nav__list {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .nav__list {
    align-items: center;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
  .nav__item:not(:first-child) {
    margin-top: 32px;
  }
}

@media (min-width: 768px) {
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

@media (max-width: 768px) {
  .nav__link {
    font-size: 40px;
  }
}

.nav__link_current {
  position: relative;
  color: #2196f3;
  display: block;
}

@media (min-width: 768px) {
  .nav__link_current::after {
    position: absolute;
    bottom: -32px;
    display: block;
    content: '';
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.header-contact {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .header-contact {
    margin-top: auto;
  }
}

@media (min-width: 768px) {
  .header-contact {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header-contact {
    flex-direction: row;
  }
}

.header-contact__icon {
  display: none;
  margin-right: 10px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .header-contact__icon {
    display: block;
  }
}

.header-contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header-contact__link:first-child {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link:first-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header-contact__link:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .header-contact__link:first-child {
    font-size: 34px;
    color: #2196f3;
    margin-bottom: 32px;
  }
}

.mob-social {
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
}

@media (min-width: 768px) {
  .mob-social {
    display: none;
  }
}

@media (max-width: 438px) {
  .mob-social {
    min-height: 60px;
  }
}

.mob-social__link {
  display: block;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  padding-left: 10px;
}

.mob-social__link:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-links {
  justify-content: center;
}

.social-links__item:not(:first-child) {
  margin-left: 10px;
}

.social-links__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-links__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-links__link_dark {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #424242;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tablet.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-pc.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-moz-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tablet@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-moz-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-pc@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__motto {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.615em;
  max-width: 360px;
}

@media (min-width: 1200px) {
  .hero__motto {
    font-size: 44px;
    line-height: 1.364em;
    max-width: 696px;
  }
}

.quality {
  width: calc((100% - 0px) / 1);
}

@media (max-width: 1199px) {
  .quality {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .quality {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .quality {
    width: calc((100% - 90px) / 4);
  }
}

.quality__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.quality__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.167;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .quality__name {
    text-align: center;
  }
}

.quality__explanation {
  color: #757575;
  line-height: 1.714em;
}

.what-we-do {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}

.team-member {
  width: calc((100% - 0px) / 1);
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media (max-width: 1199px) {
  .team-member {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team-member {
    width: calc((100% - 90px) / 4);
  }
}

.team-member__name {
  font-size: 16px;
  margin-top: 30px;
}

.team-member__job {
  font-size: 16px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.client {
  width: calc((100% - 30px) / 2);
}

@media (max-width: 1199px) {
  .client {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .client {
    width: calc((100% - 60px) / 3);
  }
}

@media (min-width: 1200px) {
  .client {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
}

.filters {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .filters {
    margin-bottom: -5px;
  }
}

@media (min-width: 1200px) {
  .filters {
    margin-bottom: 20px;
  }
}

.filters__elem {
  display: block;
  margin: 0;
}

.filters__elem:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .filters__elem {
    margin-bottom: 15px;
  }
}

.gallery__elem {
  margin-top: 30px;
  width: calc((100% - 0px) / 1);
}

@media (min-width: 768px) {
  .gallery__elem {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .gallery__elem {
    width: calc((100% - 60px) / 3);
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: unset;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__screen {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(0);
}

.card__text {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__title {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__description {
  font-size: 16px;
  line-height: 1.875em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 76px) and (max-width: 1199px) {
  .footer__container {
    justify-content: space-around;
  }
}

@media (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

.footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
}

.footer__contact {
  color: #ffffff;
  margin-top: 9px;
  line-height: 1.714;
}

.footer-contact__link {
  color: #757575;
}

.footer__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

@media (max-width: 1199px) {
  .footer__subscription {
    margin-top: 60px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer__subscription {
    margin-left: auto;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background: none;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover .subscribe__icon,
.subscribe__button:focus .subscribe__icon {
  fill: #212121;
}

.subscribe__button {
  padding-left: 29px;
  padding-right: 28px;
}

@media (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .subscribe__button {
    display: inline-block;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  min-width: 450px;
  width: 450px;
  margin: auto;
  padding: 40px 39px 40px 41px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.is-hidden .modal-window {
  transform: scale(0.5);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: #2196f3;
}

.modal-title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text-box {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-text-box__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-box__field:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-text-box__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-box:focus + .modal-text-box__icon {
  fill: #2196f3;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea-comment:focus {
  outline: none;
  border-color: #2196f3;
}

.agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.714;
  color: #757575;
}

@media (max-width: 1199px) {
  .agreement {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .agreement {
    margin-left: 13px;
  }
}

.agreement__link {
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding: 2px 0.5px;
  margin-right: 7px;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:focus + .custom-checkbox,
.checkbox:checked + .custom-checkbox {
  border-color: #2196f3;
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
}

.modal-form__button {
  padding-left: 56px;
  padding-right: 56px;
}

.mob-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 570px;
  overflow: auto;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__container {
  position: relative;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  min-height: 100%;
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */