@import 'utils/variables';

@import 'utils/cleanup';
@import 'utils/visually-hidden';

@import 'utils/transition';

@import 'utils/common';
@import 'utils/highlight-link';
@import 'utils/buttons';

@import 'components/logo';
@import 'components/header';

@import 'components/social-links';

@import 'components/section-hero';
@import 'components/section-qualities';
@import 'components/section-what-we-do';
@import 'components/section-team';
@import 'components/section-clients';
@import 'components/section-portfolio';

@import 'components/footer';

@import 'components/modal-backdrop';
@import 'components/modal-window';
@import 'components/modal-form';