.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: $secondary-color;
}

.modal-text-box {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-text-box__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @include transition(border-color);
  &:focus {
    outline: none;
    border-color: $highlight-color;
  }
}

.modal-text-box__icon {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;

  fill:$main-color;

  @include transition(fill);
  .modal-text-box:focus + & {
    fill: $highlight-color;
  }
}

.textarea-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  @include transition(border-color);
  &:focus {
    outline: none;
    border-color: $highlight-color;
  }
}

.agreement {
  @extend %align-center;
  margin-top: 20px;
  margin-bottom: 30px;

  line-height: 1.714;
  color: $secondary-color;
  margin-left: 13px;
}

.agreement__label {
  @extend %align-center;
}

.agreement__link {
  color: $highlight-color;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding: 2px 0.5px;
  margin-right: 7px;
  fill: $background-light;
  border: 2px solid $main-color;
  border-radius: 2px;

  .checkbox:focus + &,
  .checkbox:checked + & {
    border-color: $highlight-color;
  }
  .checkbox:checked + & {
    background-color: $highlight-color;
  }
}

.modal-form__button {
  padding-left: 56px;
  padding-right: 56px;
}