.team-member {
  background-color: $background-light;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-member__name {
  font-size: 16px;
  margin-top: 30px;
}

.team-member__job {
  font-size: 16px;
  color: $secondary-color;
  margin-top: 10px;
  margin-bottom: 16px;
}