.hero {
  // background-image: $gradient,
  //   url("../images/background.jpg");
  @include bgimg_gradient('../images/background-', '.jpg');
  @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (-moz-min-device-pixel-ratio: 2) {
    @include bgimg_gradient('../images/background-', '@2x.jpg');
  }
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  @extend %no-scroll-until;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__motto {
  color: $background-light;  
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-size: 26px;
  line-height: 1.615em;
  max-width: 360px; 

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.364em;
    max-width: 696px;    
  }
}