body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: $main-color;
  background: #e5e5e5;
}

img {
  display: block;
  //max- 
  width: 100%;
  height: auto;
}

%no-scroll-until {
  min-width: 320px;
  width: 100%;
}

.container {
  @extend %no-scroll-until;
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1199px)
{
  .hide-on-mob {
    display: none;
  }
}

%flex {
  display: flex;
}

%phone-column {
  @media (max-width: 767px) {  
    flex-direction: column;
    align-items: center;
    //@extend %flex-align-center; - not allowed by SASS
  }
}

%flex-phone-column {
  @extend %flex;
  @extend %phone-column;
}

%flex-align-center {
  @extend %flex;
  align-items: center;
}

.list {
  @extend %flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list_spaced {
  justify-content: space-between;
  // align-content: stretch;
  flex-wrap: wrap;
  // @extend %phone-column;
}

.section {
  @extend %no-scroll-until;
  background-color: $background-light;
  padding-top: 60px;
  padding-bottom: 30px;
  @media (max-width: 1199px) {
      &_full-bottom {
          padding-bottom: 60px;
      }
  }
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    &_no-bottom {
      padding-bottom: 0;
    }
  }
  &_gray {
    background-color: $background-medium;
  }
}

.std-title {
  font-size: 28px;
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
  line-height: 1.172;
  text-align: center;
}