$main-color: #212121;
$secondary-color: #757575;
$highlight-color: #2196f3;
$background-light: #ffffff;
$background-medium: #f5f4fa;
$background-dark: #2f303a;
$svg-link-color: #afb1b8;

$trans-dur: 250ms;
$trans-func: cubic-bezier(0.4, 0, 0.2, 1);